body {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  background:#6366f1;
  font-family:Arial;
}
.card {
  background:white;
  padding:30px;
  border-radius:12px;
  width:350px;
}
input, button {
  width:100%;
  padding:10px;
  margin-top:10px;
}



